<nav class="navbar navbar-expand-lg navbar-light bg-light" > <!-- *ngIf="isLogin" -->
  <div class="container-fluid px-5">
    <a class="navbar-brand fw-bold" routerLink="/products">Brand</a>

    <input class="form-control d-md-block d-sm-none" type="text" placeholder="Search For Product!"
    [(ngModel)]="searchTerm" (keyup)="search($event)">
    <button class="btn btn-warning bt d-md-block d-sm-none">Search</button>

    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

      <li class="nav-item mx-5">
        <a class="nav-link" routerLink="/cart" routerLinkActive="text-warning">
          <i class="fa fa-cart-plus fs-1"></i>
        </a>
      </li>

      <li class="nav-item  my-2" >
        <a class="pd-5 btn btn-warning" (click)="logout()">
          <i class="fa-solid fa-right-from-bracket"></i>
          Logout
        </a>
      </li>

    </ul>
  </div>
</nav>
